body{
    background-image: url("../images/galogo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: black;
    background-size: 20%;
}
